DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=mesdb
DB_USER=mesapp
DB_PASS=YOUR_PASSWORD_HERE
PORT=3001
CORS_SUBNET=192.168.1.0
RESOURCE_ID=WM15
PART_NUMBER=BMW1000D-360
OPERATOR_NAME=Yashwanta Thakur
JPH_TARGET=23
SHIFT_NUM=2
PROD_TABLE=production_log
DT_TABLE=downtime_log
ISSUES_TABLE=open_issues
